<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Website - Contact</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="hero">
        <nav>
            <img src="../images/logo.webp" class="logo">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#">Catálogo</a></li>
                <li><a href="contact.html">Contacto</a></li>
            </ul>
            <div>
                <a href="#" class="btn">VER OFERTAS</a>
            </div>
        </nav>
        
        
    </div>
    <div class="container">
        <div class="text-container">
            <h2>EXPLORA NUESTRO CATÁLOGO Y ENCUENTRA TU LOOK IDEAL</h2>
            
        </div>

        
    </div>

    <div class="banner-catalogue">
        <a href="#" class="btn">ACCESORIOS</a>
        <a href="#" class="btn">PARTES SUPERIORES</a>
        <a href="#" class="btn">PARTES INFERIORES</a>
        <a href="#" class="btn">CUERPO ENTERO</a>
        <a href="#" class="btn">CALZADO</a>
    </div>  
    <img src="../images/clothing-main.webp" class="full-width-image" alt="Imagen a pantalla completa"><br>
    <div class="barra-gris"></div>
    <div class="contenedor-negro">
    <p>TIENDA EJEMPLO</p><br>
    <p>Tel: 555 555-555</p><br>
    <p>Ubicación 555, Ubicación</p><br>
</body>
</html>