<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Website - Contact</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="hero">
        <nav>
            <img src="../images/imageedit_5_4769906387.png" class="logo">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="catalogue.html">Catálogo</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <div>
                <a href="#" class="btn">VER OFERTAS</a>
            </div>
        </nav>
        
        
    </div>
    <img src="../images/contactMain.jpeg" alt="Imagen a pantalla completa"><br>
    <div class="contenedor-negro">
        <div class="text-container">
            <h2>Contactar con la empresa</h2><br><br><br>
            <p>Estamos ubicados en Ubicación 555, Ubicación.</p>
            <p>Por consultas, nos puedes contactar al 555 555-555</p>
            <p>Links a nuestras redes sociales</p>
            
        </div>
        <div class="botones">
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Hablar por WhatsApp</a>
        </div>
        
        
    </div>

    
</body>
</html>